@font-face 
{
    font-family: 'Comfortaa';
    src: url('../../fonts/Comfortaa.ttf');

    font-weight: normal;
    font-style: normal;
}

header, article, section
{
    display: inline-block;
    width: 100%; height: auto;
    line-height: 5px;

    text-align: left;
}

body
{
    background: rgb(192, 192, 192);
    font-family: 'Comfortaa';
    font-size: 1rem;
    color: #222;
}

p
{
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    margin-right: 5px;
    color: rgb(0, 0, 0);

    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

a
{
    color: rgb(56, 67, 92);
    font-weight: bold;
}

h1
{
    font-size: 2em;

    padding-left: 10px;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.25em;
}

h4
{
    margin-top: auto;
    margin-bottom: auto;
}

    /* Main area */
    #container
    {
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        
        font-size: 100%;
        font-family: 'Comfortaa';
    }

        #header
        {
            background: #707070;
            border-bottom: 2px solid #000000;
            display: inline-block;
            width: 100%; height: auto;
        }

            .profilePic
            {
                width: 12.5%;
                float: left;
                margin-right: 30px;
            }

                .profilePic img
                {
                    width: 100%;
                    height: auto;

                    -webkit-border-radius: 50px;
                    border-radius: 50px;
                }

            .headerText
            {
                float: left;
            }

                .headerText h1
                {
                    font-size: 2.5em;
                }

                .headerText h2
                {
                    font-size: 2em;
                }

            .navigation
            {
                position: fixed;
                right: 1%; top: 1%;

                text-align: right;
            }

                .navigation ul
                {
                    list-style-type: none;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding-left: 0px;

                    font-size: 0.9em;
                }

                    .navigation ul li
                    {
                        color: #444;
                        display: block;
                        margin-bottom: 3px;
                    }

                        .navigation ul li a
                        {
                            color: #444;
                            text-decoration: none;

                            -webkit-transition: all 0.3s ease-in;
                            -moz-transition: all 0.3s ease-in;
                            transition: all 0.3s ease-in;
                        }

                            .navigation ul li a:hover
                            {
                                color: #9889db;
                            }

        #mainArea
        {
            padding: 0 40px;

            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

            section
            {
                padding: 20px 0px 0;

                border-top: 1px solid #ffffff;
            }

                section:first-child
                {
                    border-top: 0;
                }

                    section:last-child
                    {
                        padding: 20px 0 10px;
                    }

                section:hover
                {
                    background: rgb(214, 214, 214);

                    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
                    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
                }

                .sectionTitle
                {
                    float: left;
                    width: 25%;
                }

                    .sectionTitle h1
                    {
                        color: #cf8a05;
                        text-transform: uppercase;
                        letter-spacing: 1px;

                        font-size: 0.89em;
                    }

                        .sectionTitle h2
                        {
                            margin-bottom: -2px;

                            font-size: 1.5em;
                        }

                .sectionContent
                {
                    float: right;
                    width: 72.5%;
                }

                    .subSectionDetails
                    {
                        line-height: 5px;
                        margin-bottom: 3px;

                        font-size: 80%;
                    }

                    .keySkills
                    {
                        color: #444;
                        margin-bottom: 20px;
                        line-height: 30px;
                        padding-left: 0%;

                        list-style-type: none;
                        -moz-column-count: 3;
                        -webkit-column-count: 3;
                        column-count: 3;
                        
                        font-size: 1em;
                    }

                            .keySkills ul li
                            {
                                margin-bottom: 3px;
                            }

                    .languageSkills
                    {
                        color: #444;
                        margin-bottom: 20px;
                        line-height: 30px;
                        padding-left: 0%;

                        list-style-type: none;
                        -moz-column-count: 3;
                        -webkit-column-count: 3;
                        column-count: 3;
                        
                        font-size: 1em;
                    }

                        .languageSkills p
                        {
                            column-width: auto;
                            margin: auto;
                        }

                    .projectList
                    {
                        color: #444;
                        margin-bottom: 20px;
                        line-height: 30px;

                        list-style-type: none;
                        -moz-column-count: 3;
                        -webkit-column-count: 3;
                        column-count: 3;
                        
                        font-size: 1em;
                    }

                            .projectList ul li
                            {
                                margin-bottom: 3px;
                            }
                            