@font-face 
{
    font-family: 'Comfortaa';
    src: url('../../fonts/Comfortaa.ttf');

    font-weight: normal;
    font-style: normal;
}

*
{
    font-family: 'Comfortaa';
    color: white;
}

body 
{
	margin: 0;
	background: black;
    overflow-x: hidden;
	overflow-y: auto;
}

h1 
{
	color: white;
	top: 50%; left: 50%;
	position: absolute;

	transform: translateX(-50%) translateY(-50%) scale(2, 2);
	transition: 0.5s ease-in-out;
}

h1.top 
{
    top: 0;
    transform: translateX(-50%);
}

line 
{
    stroke-width: 5px;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    stroke-linecap: round;
}

a 
{
    color: inherit;
    display: inline-block;
}
    
    a.d 
    {
        text-decoration: none;
    }

#main 
{
    opacity: 0;
    transition: 0.5s;
    color: white;
    margin-top: 60px;
}

h2 
{
	text-align: center;
	margin: 0;
	cursor: default;
}

h3
{
    text-align: center;
	margin-bottom: 0;
	cursor: default;
}

p
{
    text-align: center;
	margin: 0;
	cursor: default;
}

canvas 
{
	left: 50%;
	position: absolute;
    
	transform: translateX(-50%);
}

            .lang-button 
            {
                display: inline-block;
                cursor: pointer;
            }

                .underline 
                {
                    display: block;
                    margin: 0 auto;
                    width: 0; height: 2px;

                    transition: width .25s linear;
                }

                    *:hover>.underline, .active>.underline 
                    {
                        width: 100%;
                    }

    #rect 
    {
        position: absolute;
        left: 20px;
        overflow: visible;

        transform: translateY(100px);
        transition: transform 0.2s linear;
    }

        #rectleft, #rectright {
            stroke-width: 2px;
            
            transform: translateX(1px) translateY(1px);
            stroke: transparent;
            fill: transparent;
        }

    #linedown 
    {
        position: absolute;
        height: 50px;
        opacity: 0;
        pointer-events: none;
    }

    .lang-panel 
    {
        margin-top: 70px;
        position: absolute;
        width: 100%;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        
        z-index: -100;

        transition: opacity 0.5s linear;
    }

        .lang-panel.shown 
        {
            opacity: 1;
            pointer-events: all;
            z-index: 100;
        }

    .lang-desc 
    {
        width: 40%;
        margin: 10px auto;
    }

            #lang1>.lang-desc>span 
            {
                color: #7750A9;
            }

            #lang2>.lang-desc>span 
            {
                color: #8A72BE;
            }

            #lang3>.lang-desc>span 
            {
                color: #80D2E6;
            }

            #others>.lang-desc>span 
            {
                color: #50BED2;
            }

    #details 
    {
        margin-top: 50px;
        opacity: 1;
        z-index: 100;

        transition: all 0.125s ease-in-out;
    }

        #details.gone 
        {
            opacity: 0;
            z-index: -100;

            transform: translateY(10vh);
        }

    #rect 
    {
        z-index: -100;
    }

    #mapping 
    {
        opacity: 0;
        position: absolute;
        z-index: -100;

        transform: translateX(-50%);
    }

    .projects 
    {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        justify-content: space-around;
    }

    .proj 
    {
        margin: 10px;
        min-width: 250px; max-width: 350px;
        height: 250px;
        background: none;
        border: 0;
        box-sizing: border-box;
        background-size: 100% 100%;
        position: relative;
        box-shadow: 0 0 0 1000px inset #0000008f, 0 0 45px 0 inset black;
        border-radius: 20px;
        background-position: center;
        cursor: pointer;

        transition: background-size 0.2s ease-in;
    }

        .proj::before 
        {
            top: 0;
            left: 0;
        }

        .proj:hover 
        {
            background-size: 120% 120%;
            filter: sepia(90%);
        }

                .proj .text
                {
                    position: absolute;		
                    top: 50%;
                    left: 50%;
                    z-index: 10;
                    opacity: 0;

                    font-size: 10px;

                    transform: translate(-50%, -50%);
                    transition: all 0.8s ease;	
                }

                    .proj:hover .text
                    {
                        opacity: 1;
                    }

                    .proj .text h1
                    {
                        margin: 0;		
		                color: white;
                    }

        .proj::before, .proj::after 
        {
            border: 2px solid transparent;
            width: 0;
            height: 0;
            box-sizing: inherit;
            content: '';
            position: absolute;
        }

        .proj::after 
        {
            bottom: 0;
            right: 0;
        }

            .proj.loaded::before, .proj.loaded::after 
            {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .proj.loaded::before 
            {
                transition: width 0.125s ease-out, height 0.125s ease-out 0.125s, border-radius .5s ease-out 0.5s;
            }

            .proj.loaded::after 
            {
                transition: border-color 0s ease-out 0.25s, width 0.125s ease-out 0.25s, height 0.125s ease-out 0.325s, border-radius .5s ease-out 0.5s;
            }

            .projects.lang1>.proj.loaded::before 
            {
                border-top-color: #7750A9;
                border-right-color: #7750A9;
            }

            .projects.lang1>.proj.loaded::after 
            {
                border-bottom-color: #7750A9;
                border-left-color: #7750A9;
            }

            .projects.lang2>.proj.loaded::before 
            {
                border-top-color: #8A72BE;
                border-right-color: #8A72BE;
            }

            .projects.lang2>.proj.loaded::after 
            {
                border-bottom-color: #8A72BE;
                border-left-color: #8A72BE;
            }

            .projects.lang3>.proj.loaded::before 
            {
                border-top-color: #80D2E6;
                border-right-color: #80D2E6;
            }

            .projects.lang3>.proj.loaded::after 
            {
                border-bottom-color: #80D2E6;
                border-left-color: #80D2E6;
            }

            .projects.others>.proj.loaded::before 
            {
                border-top-color: #50BED2;
                border-right-color: #50BED2;
            }

            .projects.others>.proj.loaded::after 
            {
                border-bottom-color: #50BED2;
                border-left-color: #50BED2;
            }