@font-face 
{
    font-family: 'Comfortaa';
    src: url('../../fonts/Comfortaa.ttf');

    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

main div
{
    flex: 1;
}

ul
{
    list-style-type: none;
    padding: 0;
}

h1
{
    font-size: 20px;
    font-weight: 700;
}

h2
{
    font-size: 16px;
    font-weight: 500;
}

h3 
{
    font-size: 20px;
    font-weight: 700;
}

body
{
    font-family: 'Comfortaa';
    font-size: 14px;
    line-height: 20px;

    background: #1a237e;
    color: #ffffff;
}

    .container
    {
        display: flex;
        width: 800px; height: auto;
        margin: 50px auto;
    }

        .information
        {
            width: 280px;
            padding: 0 25px;

            background: #52f5b6;
        }

            .information:last-child
            {
                border-bottom: 0;
            }

            .profile
            {
                width: 100%;
            }

                .profilePicture
                {
                    margin: auto;
                    width: 100%; height: 280px;
                }

                    .profilePicture img
                    {
                        width: 100%; height: 100%;
                    }

                .myself
                {
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

            .about
            {
                margin-top: 5px;
                margin-bottom: 20px;
            }

            .contact
            {

            }

                .contactInfo
                {
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                .socialMedia
                {
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

        .mainArea
        {
            width: 520px;
            padding: 25px;

            background: #000000;
        }